*{margin:0;padding:0;box-sizing:border-box;}
h1{ text-align:center; color:#5fd7ff; padding-top:10px; }
ol{ width:70%; margin:7px 15%; border:1px solid transparent; list-style:none; counter-reset: section; }
ol > li{ margin:10px 50px; transition:all .3s; cursor:pointer; }
ol > li::before{ counter-increment: section; content: counters(section, ".") ". "; margin-right: .5em; }
ol > li.active{ background:#5f87af; }
main{ height:71vh; display:flex; flex-wrap:wrap; border-top:1px solid #ddd; border-right:1px solid #ddd; }
main > section{ width:50%; height:50%; border:1px solid; border-left:1px solid #ddd; border-bottom:1px solid #ddd; transition:all .3s; }
main > section.active{ box-shadow: inset 0px 0px 20px 3px rgba(37,52,168,1); }

main > section.booksList{ background:#eaeaea; text-align:center; padding:70px 0; }
main > section.booksList > p{margin:30px 0;}
main > section.booksList > .buttons{margin:30px 0;}
main > section.booksList > .buttons > button{margin:0 10px;}

main > section.topLayer{background:gray;}
main > section.topLayer > .topLayer-wrapper{ text-align:center; position:relative; }
main > section.topLayer .topLayer-btn{ margin-top:20px; width:100px; height:50px; }
main > section.topLayer .hiddenBox{ height:100px; width:140px; background:#5fd7ff; position:absolute; top:140%; left:50%; margin-left:-70px; transition:all .3s; }
main > section.topLayer .hiddenBox::after{ content:''; display:inline-block; position:absolute; width:0px; height:0px; border:20px solid transparent; border-bottom-color:#5fd7ff; top:-40px; margin-left:-20px; }

main > section.tabChange{background:gray;}
main > section.tabChange > .tabList{ margin:20px; }
main > section.tabChange > .tabList > ul{ list-style:none; text-align:center; }
main > section.tabChange > .tabList > ul > li{ margin:11px; box-shadow:0 0 5px 1px #000; transition:all .3s; cursor:pointer; }

main > section.slideShow{background:#ECECEC; text-align:center;}
main > section.slideShow > .window{ margin:20px; height:70%; overflow:hidden; }
main > section.slideShow > .btns > button{ width:40px; height:30px; margin:0 5px; }
main > section.slideShow > .window > ul.picsBox{ list-style:none; height:100%; width:700%; display:flex; transition:transform .3s; }
main > section.slideShow > .window > ul.picsBox > li.pic{ height:100%; width:100%; line-height:186px; }
