<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue demo</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <h1>Vue demo</h1>
  <ol id='list'>
    <li v-for="tab in listMenu"
      v-bind:class="{active:selected===tab.num}"
      v-on:click="selected=tab.num">{{tab.content}}</li>
  </ol>
  <main id="exhibition">
    <section v-bind:class="['booksList',selected===0?active:'']" v-on:click="selected=0">
      本节内容在github上无法正常演示，可用JSBin来测试<br>
      <a href="https://jsbin.com/dapotuj/edit?js,output">JSBin 链接</a>
    </section>
    <section v-bind:class="['topLayer',selected===1?active:'']" v-on:click="selected=1">
      <div class="topLayer-wrapper">
          <button class="topLayer-btn" v-on:click="toggle">点我</button>
          <div class="hiddenBox" v-if="isOpen"></div>
      </div>
    </section>
    <section v-bind:class="['tabChange',selected===2?active:'']" v-on:click="selected=2">
      <div class="tabList">
        <ul>
          <li v-for="color in colors" v-on:click="changeColor">{{color.color}}</li>
        </ul>
      </div>
    </section>
    <section v-bind:class="['slideShow',selected===3?active:'']" v-on:click="selected=3">
      <div class="window">
        <ul class="picsBox">
          <li class="pic"
              v-for="color in colors" 
              v-bind:style="{background:color.color}">{{color.color}}</li>
        </ul>
      </div>
      <div class="btns">
        <button v-for="index in colors"
                v-on:click="go(index.number,$event)"
                v-bind:class="{active:isTouch===index.number}">{{index.number+1}}</button>
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/books.js"></script>
</body>
</html>
